* {
  margin: 0px;
  padding: 0px;
  outline: none;
  list-style-type: none;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  margin: 0px;
  padding: 0px;
  width: fit-content;
}
h2 {
  font-size: 2rem;
  font-weight: 800;
  padding: 1rem 0px;
  color: #242742;
}
p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
  line-break: auto;
  display: inline-block;
  vertical-align: baseline;
}
ul {
  list-style-type: none;
  margin: 20px 0px;
  vertical-align: baseline;
}
ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0px;
  font-weight: 400;
  font-size: 1rem;
}
li svg {
  margin-right: 10px;
}
li span {
  font-weight: 500;
  font-size: 1.1rem;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
label {
  font-weight: 550;
}
input[type="email"] {
  width: 90%;
  border-radius: 5px;
  outline: none;
  border: 1px solid hsl(235, 18%, 26%);
  height: 3rem;
  padding: 10px;
  background-color: #c0c0c0;
}
input[type="email"]:focus {
  outline: none;
  border: none;
  color: #ffffff;
}
div.input {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
}
div.input span {
  color: tomato;
  text-transform: capitalize;
  font-size: 12px;
  font-weight: 300;
}
button {
  width: 90%;
  background-color: #242742;
  color: #ffffff;
  padding: 10px 0px;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 5px;
  outline: none;
  border: none;
}
span.bold {
  font-weight: 600;
}
button:hover {
  background-color: tomato;
}
div.container {
  background-color: #242742;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}
div.container div.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
}
div.content div.display{
  display: flex;
  flex-direction: row;
}
div.content div.left-side {
  padding: 0px 0.5rem;
}
div.success {
  width: 50%;
  margin: 0px;
  padding: 0px;
}
.hide {
  display: none;
}
div.content div.success p {
  margin: 15px 0px;
}
div.content div.right-side{
    display: block;
}

/* Responsiveness Styling */
@media screen and (max-width: 375px) {
  * {
    margin: 0px;
    padding: 0px;
  }
  p{
    margin: 0px;
    padding: 0px;
    line-height: 22px;
    line-break: auto;
  }
  div.container {
    background-color: #242742;
    width: 100vw;
    padding: 0px;
    margin: 0px;
  }
 
  div.content div.display{
    display: flex;
    flex-direction: column-reverse;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    width: 100vw;
    padding: 0px;
    margin: 0px;
  }

  div.right-side svg {
    width: 230px;
    margin: 0px;
    padding: 0px;
  }
  div.desktop div.icon-desktop{
    display: none;
  }
  div.desktop div.icon-mobile{
    display: inline;
  }
}
